USE [JonasDB]
GO
/****** Object:  Table [dbo].[MergedData_Fields]    Script Date: 2/3/2020 1:37:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MergedData_Fields](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[field_name] [varchar](200) NULL
) ON [PRIMARY]
GO
